.App {
  text-align: center;
}

.context-form {
  padding: 20px 0px 20px 0px;
}

.query-form-container {
  margin-right: 2vw;
}

.query-form {
  padding-top: 10px;
  position: relative;
  height: 8vh;
}

.query-form-contents {
  height: 8vh;
  border-radius: 25px 0px 0px 25px !important;
  padding: 20px !important;
  border-right-color: white !important;
}

.response-container {
  padding: 20px;
  margin-bottom: 2vh;
  margin-right: 2vw;
  border-radius: 25px !important;
}

.query-form-submit-button {
  height: 25px !important;
  width: 25px !important;
}

.query-form-submit-button-container {
  background-color: white !important;
  border-radius: 0px 25px 25px 0px !important;
  border-left-color: white !important;
}

.response-container-body {
  height: 80vh;
}

.column-container {
  padding: 10px;
  margin-bottom: 10px;
  height: 100vh;
  background: #f9f9f9;
}

.context-nav-bar-container {
  padding-left: 20px;
}

.context-list-item-text {
  width: 90%;
  overflow: scroll;
  float: left;
}

.context-list-item-remove-button-div {
  float: right;
}

.context-list-item-remove-button {
  width: 10px;
  height: 10px;
}

.context-list-item-remove-button:hover {
  stroke-width: 1px;
}

.context-list-item {
  overflow: scroll;
}

.context-list-item.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: black !important;
  font-weight: bold;
}

.context-list-item:hover {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: black !important;
}

.context-list-item:active {
  background-color: #d1d0d0 !important;
}
